.contenedorItemDetail {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.contenedorItemDetail .titulo {
    color: #711f31;
    border: none;
}
.contenedorItemDetail .subtitulo {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.contenedorItemDetail .contenedorImgAside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contenedorItemDetail .contenedorImgAside .imgInstrumento {
    width: 40%;
}
.contenedorItemDetail .contenedorImgAside .contenedorAside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedorItemDetail .contenedorImgAside .contenedorAside .detalle {
    font-size: 1.5rem;
}
.contenedorItemDetail .contenedorImgAside .contenedorAside .precio {
    margin-top: 80px;
    font-weight: bolder;
    font-size: 2rem;
    text-align: right;
}

.contenedorItemDetail .contenedorImgAside .contenedorAside .contenedorItemCount {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorItemDetail .contenedorImgAside .contenedorAside .contenedorItemCount .isNotInCart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.contenedorItemDetail .contenedorImgAside .contenedorAside .contenedorItemCount .isNotInCart .yaAgregado{
    font-weight: bold;
    color: #711f31;
}
.contenedorItemDetail .contenedorImgAside .contenedorAside .contenedorItemCount .botones{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}