.carritoContainer {
    padding: 10px 25px;
}
.carritoContainer .contenedorBtn {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.carritoContainer .contenedorBtn .btn {
    background-color: #E0AF3A;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.carritoContainer .contenedorBtn .btn:hover{
    box-shadow: 2px 2px 2px #000000;
    transform: scale(1.05);
    font-weight: bold;
}
.carritoContainer .contenedorBtn .vaciar:hover{
    background-color: #711f31;
    color: white;
}
.carritoContainer .contenedorBtn .comprar:hover{
    background-color: #1f7149;
    color: white;
}