.contenedorLoginPage {
    width: 100%;
    height: 100vh;
    background-color: #711f311b;
    position: relative;
}
.contenedorLoginPage .contenedor {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 50px;
    border-radius: 40px;
    background-color: #711f31;
}
.contenedorLoginPage .contenedor .titulo{
    color: #E0AF3A;
    text-align: center;
    border: none;
    font-weight: bolder;
}
.contenedorLoginPage .contenedor .formulario {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.contenedorLoginPage .contenedor .formulario button {
    align-self: center;
}
.contenedorContraseña{
    display: flex;
    width: 100%;
}
.error {
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: left;
}
.register {
    color: #E0AF3A;
    align-self: flex-end;
}